@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row g-5 d-flex justify-content-center">
        <div class="col-9 elevators-body rounded-3 align-items-center">
            <div id="elevators" class="row mt-4">
                <div id="upDownButtons" class="col"></div>
            </div>
            <div class="row maintenance-mode-container">
                <div class="col d-flex align-content-center justify-content-center color-white font-weight-500">
                    Maintenance.
                </div>
            </div>
        </div>
    </div>
</div>
